<div id="menu">
	<div class="pure-menu pure-menu-open">
		<a class="pure-menu-heading" href="/">MAERA</a>
		<ul>
			<li><a href="/" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
			<li><a href="/docs/shells" id="shells-link" class="skel-layers-ignoreHref"><span class="icon fa-code">Shells</span></a></li>
			<li><a href="/docs/actions-hooks" id="actions-hooks-link" class="skel-layers-ignoreHref"><span class="icon fa-code">Actions & Hooks</span></a></li>
			<li><a href="/docs/theme-supports" id="theme-supports-link" class="skel-layers-ignoreHref"><span class="icon fa-code">Theme Supports</span></a></li>
		</ul>
	</div>
</div>
