<div id="header" class="skel-layers-fixed">
	<div class="top">
		<div id="logo">
			<span class="image logo"><img src="/images/logo.png" alt="" /></span>
			<h1 id="title">Maera</h1>
		</div>

		<nav id="nav">
			<ul>
				<li><a href="/" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
				<li><a href="/docs/shells" id="shells-link" class="skel-layers-ignoreHref"><span class="icon fa-code">Shells</span></a></li>
				<li><a href="/docs/actions-hooks" id="actions-hooks-link" class="skel-layers-ignoreHref"><span class="icon fa-code">Actions & Hooks</span></a></li>
				<li><a href="/docs/theme-supports" id="theme-supports-link" class="skel-layers-ignoreHref"><span class="icon fa-code">Theme Supports</span></a></li>
			</ul>
		</nav>
	</div>

	<div class="bottom">
		<ul class="icons">
			<li><a href="https://github.com/wpmu/maera" class="icon fa-github"><span class="label">Github</span></a></li>
		</ul>
	</div>
</div>
